body{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
h1{
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
}
h2{
    font-weight: bold;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
}
nav{
    background-color: black;
    padding: 4px 10px 10px 10px;
    margin-top: 10px;
    text-align: center;

}
nav li{
    display: block;
    padding-top: 10px;
    margin-top: 0px;
    line-height: 10px;
}
nav li a{
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
/* how to make space between links */
nav li a:hover{
    text-decoration-line:underline;
    text-decoration-style: dashed;
    text-decoration-color: white;
}
nav li a:focus{
    text-decoration-line:underline;
    text-decoration-style: dashed;
    text-decoration-color: white;
}
.active a{ 
    text-decoration-line: underline;
}
.skip a{
    position: absolute;
    top: -30px;
    left: 5px;
    color: black;
    font-size: 15px;
    text-decoration: none;
}
.skip a:focus{  
    position: absolute;
    top: 20px;
    text-decoration-line:underline;
    text-decoration-style: dashed;
    text-decoration-color: black;
}
p{
    padding: 10px 10px 10px 10px;
    line-height: 25px;
}
.classic-image, .holiday-image{
    border: solid 5px black;
}
.about-image img{
    width: 90%;
}
.classic, .classic-image{
    display: grid;
    grid-column: 1/-1;
}
.classic-image img{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    justify-self: center;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.classic-image img:nth-child(odd){
    border: hotpink solid 5px;
    padding: 0px 0px 0px 0px;
}
.classic-image img:nth-child(even){
    border: purple solid 5px;
    padding: 0px 0px 0px 0px;
}
.holiday, .holiday-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.holiday-image img{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    justify-self: center;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.holiday-image img:nth-child(odd){
    border: red solid 5px;
    padding: 0px 0px 0px 0px;
}
.holiday-image img:nth-child(even){
    border: green solid 5px;
    padding: 0px 0px 0px 0px;
}

@media screen and (min-width: 600px){
   h1{
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 10px;
    }
   h2{
    font-weight: bold;
    font-size: 30px;
    padding: 20px 20px 20px 20px;
    margin-top: 10px;
    }
    nav{
        background-color: black;
        padding: 10px 10px 10px 10px;
        margin-top: 10px;
    }
    nav li{
        display: inline;
        padding-right:20px;
        padding-left: 20px;
        /* text-align: center;  */
    }
    nav a{
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
    }
    .about-image img{
        width: 80%;
    }
    .classic{
        display: grid;
    }
    .classic-image img{
        width: 70%;
    }
    .classic-image img:nth-child(2){
        align-self: stretch;
    }
    .classic-image img:nth-child(3n){
        grid-column-start: 1;
        grid-column-end: 3;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .holiday{
        display: flex;
    }
    .holiday-image img{
        width: 40%;
    }
    .holiday-image{
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-evenly;
    }
}
@media screen and (min-width: 950px){
    h1{
        font-size: 45px;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-top: 10px;
    }
    h2{
        font-weight: bold;
        font-size: 35px;
        padding: 30px 30px 30px 30px;
        margin-top: 10px;
    }
    nav{
        background-color: black;
        padding: 15px 15px 15px 15px;
        margin-top: 10px;
    }
    nav li{
        display: inline;
        padding-right:20px; 
        padding-left: 20px;
        /* how do i make nav in the middle */
        /* text-align: center;  */
    }
    nav a{
        color: white;
        font-weight: bold;
        font-size: 25px;
        text-decoration: none;
    }
    .about-image img{
        width: 70%;
        padding: 0px 0px 0px 0px;
        /* how can i get the image to fill the border at all views */
    }
    .classic-image{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .classic-image img:nth-child(1){
        grid-column-start: 1;  
        grid-column-end: 1;  
        width: 90%;
    }
    .classic-image img:nth-child(2){
        grid-column-start: 2;  
        grid-column-end: 2;  
        width: 90%
    }
    .classic-image img:nth-child(3){
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        width: 90%;
    }
    .classic-image img:nth-child(4){
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        width: 90%;
    }
    .classic-image img:nth-child(5){
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        width: 90%;
    }
    .classic-image img:nth-child(6){
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        width: 90%;
    }
    .classic-image img:nth-child(7){
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
        width: 90%;
    }
    .classic-image img:nth-child(8){
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 2;
        width: 90%;
    }
    .classic-image img:nth-child(9){
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        width: 90%;
    }
    .classic-image img:nth-child(10){
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        width: 90%;
    }
    .classic-image img:nth-child(11){
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 3;
        width: 90%;
    }
    .classic-image img:nth-child(12){
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 3;
        width: 90%;
    }
    .holiday-image{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: center;
    }
    .holiday-image img{
        display: flex;
        width: 25%
    }
    /* my flex doesnt even do anything, it doesnt change at 950width */
}