body{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
h1{
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
}
h2{
    font-weight: bold;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
}
nav{
    background-color: black;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;

}
nav li{
    display: inline;
    padding-right:20px;
    padding-left: 20px;
    /* text-align: center; */
}
nav a{
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}
nav li a:hover{
    text-decoration-line:underline;
    text-decoration-style: dashed;
    text-decoration-color: white;
}
nav li a:focus{
    text-decoration-line:underline;
    text-decoration-style: dashed;
    text-decoration-color: white;
}
/* keep it underlined after click */
.skip a{
    position: absolute;
    top: -30px;
    left: 5px;
    color: black;
    font-size: 12px;
    text-decoration: none;
}
.skip a:focus{  
    position: absolute;
    top: 20px;
    text-decoration-line:underline;
    text-decoration-style: dashed;
    text-decoration-color: black;
}
p{
    padding: 10px 10px 10px 10px;
    line-height: 25px ;
}
.about-image, .classic-image, .holiday-image{
    border: solid 5px black;
}
.about, .about-image{
    overflow: scroll;
    text-align: center;
}
.about-image img{
    width: 490px;
}
.classic, .classic-image{
    display: grid;
    grid-column: 1/-1;
    overflow: scroll;
}
.classic-image img{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    justify-self: center;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.classic-image img:nth-child(odd){
    border: hotpink solid 5px;
    padding: 0px 0px 0px 0px;
}
.classic-image img:nth-child(even){
    border: purple solid 5px;
    padding: 0px 0px 0px 0px;
}
.holiday-image img:nth-child(odd){
    border: red solid 5px;
    padding: 0px 0px 0px 0px;
}
.holiday-image img:nth-child(even){
    border: green solid 5px;
    padding: 0px 0px 0px 0px;
}
.holiday, .holiday-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.holiday-image img{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    justify-self: center;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}